{% extends 'hours_per_unit/base.html' %}
{% load staticfiles %}

{%block content%}
<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <h2>Please sign in for access</h2>
      <form action="{% url 'login' %}" method="post" class="login-form">
        {% csrf_token %}
        <div class="form-row">
          {{ form.username.label_tag }}<br />
          {{ form.username }}
        </div>
        <div class="form-row">
          {{ form.password.label_tag }}<br />
          {{ form.password }}
        </div>
        <div class="wrapper">
          <br />
          <div class="submit-row">
            <input type="submit" class="btn btn-primary btn-md" value="Log in" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{%endblock%}
